.dropdown-item {
    color: #F28123;
}

.dropdown-menu {
    background-color: gray;
}

.i-style:hover {
    color: red;
    transition: 0.5s;
    cursor: pointer;
}
.mail {
    width: 100%;
}

.btnedit {
    background-color: #F28123;
    border: none;
    display: block;
    margin: 1px auto;
    padding: 10px 30px;
}

    .btnedit:hover {
        background-color: #F28123;
        border: none;
    }

    .btnedit:active {
        background-color #F28123;
        border: none;
    }
