@model identityWithChristina.Models.Category

@{
    Layout = "_Layout1";
    ViewData["Title"] = "Create Categories";
}
}

<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						 <form asp-action="Create" method="post" enctype="multipart/form-data">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<p>
			                  <div class="form-group">
                                <label asp-for="CategoryName" class="control-label" >Category Name</label>
                                <input asp-for="CategoryName" style="width:100%;" class="form-control " type="text" placeholder=" Category Name "/>
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
							</p>
							<p>
								  <div class="form-group">
                                    <label asp-for="PhotoUrl" class="control-label"> Category Image </label>
                                    <input asp-for="PhotoUrl" id="file" name="file" class="form-control" style="width:100%;"  type="file"  placeholder=" Category Image" />
                                    <span asp-validation-for="PhotoUrl" class="text-danger"></span>
                                </div>

							</p>
							<p>
							  <div class="form-group">
                              <label asp-for="Description" class="control-label">Description </label>
                              <textarea class="form-control" aria-label="With textarea" name="message" id="message" cols="30" rows="10" placeholder="Description"></textarea>
                              <span asp-validation-for="Description" class="text-danger"></span>
								</div>
								</p>
							<input type="hidden" name="token"/>
							<p><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
		
			</div>
		</div>
	</div>
