@model Student
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<form method="post">
  <div class="text-white form-group">
    <label asp-for="Fname">first name</label>
    <input asp-for="Fname" class="form-control" aria-describedby="emailHelp" placeholder="name">
    <span asp-validation-for="Fname"></span>

     <label asp-for="Lname">last name</label>
    <input asp-for="Lname" class="form-control" aria-describedby="emailHelp" placeholder="name">
        <span asp-validation-for="Lname"></span>
 <div>  <label asp-for="Age">age</label>
    <input asp-for="Age" class="form-control" aria-describedby="emailHelp" placeholder="Age">
      <span asp-validation-for="Age"></span></div>
      <label asp-for="phone"></label>
    <input asp-for="phone" class="form-control" aria-describedby="emailHelp" placeholder="phone">
      <span asp-validation-for="phone"></span>

    <label asp-for="address">address</label>
    <input asp-for="address" class="form-control" aria-describedby="emailHelp" placeholder="address">
      <span asp-validation-for="address"></span>
  
    <partial name="partial-list"  class="form-control"/>
   <br/>
  <button type="submit"  asp-controller="Home" asp-action="Create">Submit</button>
</form>

    @section Scripts{
    <partial name="_ValidationScriptsPartial" />
    }