@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "_Layout1";
    ViewData["Title"] = "Create Association";
}
@model  identityWithChristina.Models.Association


<h3 class="text-center"  style="margin-left: 100px; margin-top:100px" >Adding New Association</h3>

<div class="contact-from-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						 <form asp-action="Create" asp-controller="Associations" enctype="multipart/form-data">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<p>
			                  <div class="form-group">
                               <input asp-for="Assid" hidden />
                               <label asp-for="Assname" class="control-label">Association Name</label>
                               <input asp-for="Assname" class="form-control" style="width:100%;" type="text"/>
                                <span asp-validation-for="Assname" class="text-danger"></span>
                                 </div>
							   </p>
							    <p>
								 <div class="form-group">
                               <label asp-for="AssPhone" class="control-label">Association Phone</label>
                               <input asp-for="AssPhone" class="form-control"  type="text"/>
                                <span asp-validation-for="AssPhone" class="text-danger"></span>
                                 </div>
							</p>
							<p>
                                 <div class="form-group">
                                    <label asp-for="AssDescription" class="control-label"> Association Description </label>
                                     <textarea asp-for="AssDescription" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
                                    <span asp-validation-for="AssDescription" class="text-danger"></span>
                                </div>
								</p>
                                <p>
                                 <div class="form-group">
                                    <label asp-for="AssAddress" class="control-label"> Association Address </label>
                                     <input asp-for="AssAddress" class="form-control" placeholder="Address"></input>
                                    <span asp-validation-for="AssAddress" class="text-danger"></span>
                                </div>
								</p>
                                <p>
                                      <div class="form-group">
                                            <label asp-for="AssLogoUrl" class="control-label"> Association Logo</label>
                                            <input asp-for="AssLogoUrl" class="form-control" style="width:100%;"   name="file" type="file"   placeholder=" Association logo Image" />
                                            <span asp-validation-for="AssLogoUrl" class="text-danger"></span>
                                        </div>

							</p>
                                
							<input type="hidden" name="token"/>
							<p><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
		
			</div>
		</div>
	</div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
