@{
	Layout = "_Layout";
    ViewData["Title"] = "Admin";
}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Categories</th>
      <th scope="col">Association</th>
      <th scope="col">Admin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Create</th>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Categories" asp-action="Create">Create</button></td>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Association" asp-action="Create">Create</button></td>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Account" asp-action="AddAdmin">Create</button></td>
    </tr>
    <tr>
      <th scope="row">Edit</th>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Categories" asp-action="Edit">Update</button></td>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Association" asp-action="Edit">Update</button></td>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Account" asp-action="EditAdmin">Update</button></td>
    </tr>
    <tr>
      <th scope="row">Delete</th>
      <td><button type="button" class="btn btn-outline-secondary" asp-controller="Categories" asp-action="Delete">Delete</button></td>
      <td> <button type="button" class="btn btn-outline-secondary" asp-controller="Association" asp-action="Delete">Delete</button></td>
      <td> <button type="button" class="btn btn-outline-secondary" asp-controller="Account" asp-action="DeleteAdmin">Delete</button></td>
    </tr>
  </tbody>
</table>
