

@model identityWithChristina.ViewModel.RoleViewModel
@{
    ViewData["Title"] = "add role";
}

<h1>add new role</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddRole" method="post">
            <h4>Create a new role.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" maxlength="100" placeholder="add new role" />
                <span asp-validation-for="Name" class="text-danger" ></span>
            </div>
       
            <button type="submit" class="btn btn-primary">add</button>
        </form>
    </div>
 </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


