

@model identityWithChristina.ViewModel.RoleViewModel
@{
    ViewData["Title"] = "add role";
    Layout = "~/Views/Shared/_Layout1.cshtml";

}

<div class="row justify-content-center"  >
    <div class="col-md-4" style="margin:30px 0px;">
        <h2>Add new Role</h2>
        <form asp-action="AddRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" maxlength="100" placeholder="add new role" />
                <span asp-validation-for="Name" class="text-danger" ></span>
            </div>
       
            <button type="submit" class="btnedit btn btn-primary">add</button>
        </form>
    </div>
 </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


